/* INDEX */
body, html {
	margin: 0;
	padding: 0;
}

#home {
	background-image: url(../src/cartaz.jpg);
	background-size: auto 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: black;
}
/* INDEX */

/* CONFIG GERAIS */
.iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	padding: 0;
	margin: 0;
}

@media (width < 1200px) {
	.btn {
		width: 100%;
		margin-top: 2vh;
	}

	.card-header {
		font-size: small;
	}
}
/* CONFIG GERAIS */

/* BOTAO DE CONTATO */
.icons {
	display: flex;
	column-gap: 25px;
}

.icon {
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: black;
	border-radius: 50%;
	outline: 2px solid black;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}

.icon:hover {
	color: white;
	outline-offset: 4px;
}

.icon i {
	margin: auto;
}

.icon:hover i {
	animation: shake 0.25s;
}

.icon--linkedin:hover {
	background-color: #0A66C2;
	outline-color: #0A66C2;
}

.icon--github:hover {
	background-color: black;
	outline-color: black;
}

.icon--whatsapp:hover {
	background-color: green;
	outline-color: green;
}

@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}
/* BOTAO DE CONTATO */

/* TELA DE LOAD */
.load {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
}

.imgLoad {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	opacity: 0;
	animation: load 2s;
}

@keyframes load {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media (width > 1200px) {
	.imgLoad {
		width: 30vw;
	}
}
/* TELA DE LOAD */

/* TABELA */
.width30 {
	width: 30vw;
}

.width10 {
	width: 10vw;
}

.textTable {
	font-size: 0.9rem;
}

.hCelula {
	height: 9vh;
	vertical-align: middle;
}
/* TABELA */

/* ADM */
#botaoAdm {
	display: none;
}

#loadAdm {
	display: none;
}

.enviando {
	width: 10rem;
	height: 10rem;
	border-width: 0.7rem;
}

#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
	color: red;
}
/* ADM */